body{

    background-color: hsl(212, 45%, 89%);
}
main{
    /* height: 300px; */
    background-color: white;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: width 2s, padding 1s;
}
main:hover{
    width: 300px;
    padding: 20px;
}
img{
    width: 100%;
    border-radius: 10px;
}
button{
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: purple;
    padding: 5px;
}